[wp-typia - v1.0.0](../README.md) / [Modules](../modules.md) / [packages/create/src/runtime/validation](../modules/packages_create_src_runtime_validation.md) / ValidationResult

# Interface: ValidationResult\<T\>

[packages/create/src/runtime/validation](../modules/packages_create_src_runtime_validation.md).ValidationResult

## Type parameters

| Name |
| :------ |
| `T` |

## Hierarchy

- **`ValidationResult`**

  ↳ [`ValidationState`](packages_create_src_runtime_validation.ValidationState.md)

## Table of contents

### Properties

- [data](packages_create_src_runtime_validation.ValidationResult.md#data)
- [errors](packages_create_src_runtime_validation.ValidationResult.md#errors)
- [isValid](packages_create_src_runtime_validation.ValidationResult.md#isvalid)

## Properties

### data

• `Optional` **data**: `T`

#### Defined in

[packages/create/src/runtime/validation.ts:13](https://github.com/imjlk/wp-typia/blob/main/packages/create/src/runtime/validation.ts#L13)

___

### errors

• **errors**: [`TypiaValidationError`](packages_create_src_runtime_validation.TypiaValidationError.md)[]

#### Defined in

[packages/create/src/runtime/validation.ts:14](https://github.com/imjlk/wp-typia/blob/main/packages/create/src/runtime/validation.ts#L14)

___

### isValid

• **isValid**: `boolean`

#### Defined in

[packages/create/src/runtime/validation.ts:15](https://github.com/imjlk/wp-typia/blob/main/packages/create/src/runtime/validation.ts#L15)
