[wp-typia - v1.0.0](../README.md) / [Modules](../modules.md) / [packages/wp-typia-rest/src/client](../modules/packages_wp_typia_rest_src_client.md) / ValidationResult

# Interface: ValidationResult\<T\>

[packages/wp-typia-rest/src/client](../modules/packages_wp_typia_rest_src_client.md).ValidationResult

## Type parameters

| Name |
| :------ |
| `T` |

## Table of contents

### Properties

- [data](packages_wp_typia_rest_src_client.ValidationResult.md#data)
- [errors](packages_wp_typia_rest_src_client.ValidationResult.md#errors)
- [isValid](packages_wp_typia_rest_src_client.ValidationResult.md#isvalid)

## Properties

### data

• `Optional` **data**: `T`

#### Defined in

[packages/wp-typia-rest/src/client.ts:12](https://github.com/imjlk/wp-typia/blob/main/packages/wp-typia-rest/src/client.ts#L12)

___

### errors

• **errors**: [`ValidationError`](packages_wp_typia_rest_src_client.ValidationError.md)[]

#### Defined in

[packages/wp-typia-rest/src/client.ts:13](https://github.com/imjlk/wp-typia/blob/main/packages/wp-typia-rest/src/client.ts#L13)

___

### isValid

• **isValid**: `boolean`

#### Defined in

[packages/wp-typia-rest/src/client.ts:14](https://github.com/imjlk/wp-typia/blob/main/packages/wp-typia-rest/src/client.ts#L14)
