[wp-typia - v1.0.0](../README.md) / [Modules](../modules.md) / [packages/wp-typia-api-client/src/internal/runtime-primitives](../modules/packages_wp_typia_api_client_src_internal_runtime_primitives.md) / ValidationResult

# Interface: ValidationResult\<T\>

[packages/wp-typia-api-client/src/internal/runtime-primitives](../modules/packages_wp_typia_api_client_src_internal_runtime_primitives.md).ValidationResult

## Type parameters

| Name |
| :------ |
| `T` |

## Table of contents

### Properties

- [data](packages_wp_typia_api_client_src_internal_runtime_primitives.ValidationResult.md#data)
- [errors](packages_wp_typia_api_client_src_internal_runtime_primitives.ValidationResult.md#errors)
- [isValid](packages_wp_typia_api_client_src_internal_runtime_primitives.ValidationResult.md#isvalid)

## Properties

### data

• `Optional` **data**: `T`

#### Defined in

[packages/wp-typia-api-client/src/internal/runtime-primitives.ts:11](https://github.com/imjlk/wp-typia/blob/main/packages/wp-typia-api-client/src/internal/runtime-primitives.ts#L11)

___

### errors

• **errors**: [`ValidationError`](packages_wp_typia_api_client_src_internal_runtime_primitives.ValidationError.md)[]

#### Defined in

[packages/wp-typia-api-client/src/internal/runtime-primitives.ts:12](https://github.com/imjlk/wp-typia/blob/main/packages/wp-typia-api-client/src/internal/runtime-primitives.ts#L12)

___

### isValid

• **isValid**: `boolean`

#### Defined in

[packages/wp-typia-api-client/src/internal/runtime-primitives.ts:13](https://github.com/imjlk/wp-typia/blob/main/packages/wp-typia-api-client/src/internal/runtime-primitives.ts#L13)
